body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(41, 28, 15);
    color: aliceblue;
}
img{
    width: 100%;
}
h1{
    text-align: center;
    color: #d5c459;

     letter-spacing: 1px;
  color: #444;
    font-family: "Mea Culpa", cursive;
   text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5), 5px 5px 7px rgba(0, 0, 0, 0.5),
    7px 7px 9px rgba(0, 0, 0, 0.5), 9px 9px 11px rgba(243, 5, 5, 0.473),
    11px 11px 13px rgb(245, 3, 3), 13px 13px 15px rgba(206, 2, 2, 0.5),
    15px 15px 17px rgba(6, 165, 40, 0.5),
    17px 17px 19px rgba(86, 245, 12, 0.884),
    19px 19px 21px rgba(13, 204, 61, 0.527),
    21px 21px 23px rgba(15, 104, 221, 0.425),
    23px 23px 25px rgba(13, 27, 218, 0.678),
    25px 25px 27px rgba(6, 23, 180, 0.5), 27px 27px 29px rgba(0, 0, 0, 0.5),
    29px 29px 31px rgba(0, 0, 0, 0.5), 31px 31px 33px rgba(0, 0, 0, 0.5);
}
 
.bg-img{
    background-image:linear-gradient(rgba(0, 0, 0, 0.725), rgba(0, 0, 0, 0.673)), url(wood.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-top: 50px;
}